{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Welcome to Hacker News</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-stripped is-fullwidth">
                    <tbody>
                        {% for story in stories %}
                            <tr>
                                <td>{{ forloop.counter}}.</td>
                                <td>
                                    <a href="{{ story.url }}" target="_blank">{{ story.title }}</a>
                                    <p>
                                        {{ story.number_of_votes }} votes |
                                        by <a href="{% url 'userprofile' story.created_by.username %}">{{ story.created_by.username }}</a> |                                        {{ story.created_at|timesince }} ago 
                                        
                                        {% if not story.created_by == user %} | 
                                        <a href="{% url 'vote' story.id %}">Vote</a>
                                        {% endif %}
                                        | <a href="{% url 'detail' story.id %}">Discuss</a>

                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}